.herospage {
    padding: 20px 0;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  